# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & builds
node_modules/
dist/
dist-ssr/

# Env files
*.local
.env.development
.env.production

# .NET / Visual Studio
obj/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
